.transaction {
	background: linear-gradient(180deg, rgba(129, 157, 245, 0.4) 0%, rgba(129, 157, 245, 0) 45.5%, rgba(129, 157, 245, 0.4) 100%);
}

.deliver {
	height: 2px;
	width: 100%;
	background: linear-gradient(
		180deg,
		rgba(129, 157, 245, 0.2) 0%,
		rgba(129, 157, 245, 0) 45.5%,
		rgba(129, 157, 245, 0.2) 100%
	);
	margin: 16px 0;
}

.stakeBox {
}
.stakeAnytime {
	background: linear-gradient(129.19deg, #4eaaeb 19.22%, #3678e0 74.24%);
}
.stakeFlexible {
	background: linear-gradient(129.19deg, #3cc8c8 19.22%, #0d9191 70.97%);
}
.stakeAnytimeBtn {
	background: linear-gradient(to right, #98bfe3, #9abbef);
}
.stakeFlexibleBtn {
	background: linear-gradient(to right, #94d9d9, #86c7c7);
}

// .functionlistBg {
// 	background: linear-gradient(
// 		180deg,
// 		rgba(129, 157, 245, 0.2) 0%,
// 		rgba(129, 157, 245, 0) 45.5%,
// 		rgba(129, 157, 245, 0.2) 100%
// 	);
// }
.transferBg {
	background: linear-gradient(134.27deg, #253961 1.23%, #0b1b3c 100%);
}
.transferBg {
	background: linear-gradient(134.27deg, #253961 1.23%, #0b1b3c 100%);
}
.transferBg {
	background: linear-gradient(134.27deg, #253961 1.23%, #0b1b3c 100%);
}
.transferBg {
	background: linear-gradient(134.27deg, #253961 1.23%, #0b1b3c 100%);
}
.transferBg {
	background: linear-gradient(134.27deg, #253961 1.23%, #0b1b3c 100%);
}
.transferBg {
	background: linear-gradient(134.27deg, #253961 1.23%, #0b1b3c 100%);
}

.aprBoxShadow {
	box-shadow: 0px 2px 8px 0px rgba(32, 57, 128, 0.3);
}
.radius8 {
	border-radius: '0 8px 0 8px';
}
