.transaction {
  height: 100%;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(0, 10, 20, 0.5) 24.72%,
    rgba(1, 8, 64, 0.5) 39.88%,
    rgba(6, 41, 128, 0.5) 72.4%,
    rgba(89, 126, 255, 0.5) 100%
  );
  padding: 0 32px;
}

.status {
  width: fit-content;
  height: 20px;
  display: flex;
  border-radius: 4px;
  .text-left,
  .text-right {
    width: fit-content;
    line-height: 20px;
    padding: 0 8px;
    font-size: 10px;
  }
}

.success {
  border: 1px solid rgba(41, 80, 20, 1);
  .text-left {
    background: rgba(41, 80, 20, 1);
    color: rgba(111, 255, 98, 1);
  }
  .text-right {
    color: rgba(41, 80, 20, 1);
  }
}
.fail {
  border: 1px solid rgba(80, 20, 20, 1);
  .text-left {
    background: rgba(80, 20, 20, 1);
    color: rgba(255, 130, 102, 1);
  }
  .text-right {
    color: rgba(111, 255, 98, 0.5);
  }
}

.pending {
  border: 1px solid rgba(80, 74, 20, 1);
  .text-left {
    background: rgba(80, 74, 20, 1);
    color: rgba(252, 255, 98, 1);
  }
  .text-right {
    color: rgba(252, 255, 98, 0.5);
  }
}
